Import Libraries

In [1]:
import pandas as pd
import numpy as np

Read the Users table csv

In [2]:
df = pd.read_csv('/Users/srinathnarayanan/Downloads/Fetch/users.csv')

In [3]:
df.head(5)

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state,monthUser,yearUser
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1.609688e+12,consumer,Email,WI,1,2021
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1.609688e+12,consumer,Email,WI,1,2021

In [4]:
df.shape

(495, 9)

Converty column data lastLoginDate to datetime

In [7]:
df['lastLoginDate'] = df['lastLoginDate'].astype('datetime64[ns]')

In [8]:
df.dtypes

User_id                   object
active                      bool
CreateDateUser            object
lastLoginDate     datetime64[ns]
role                      object
signUpSource              object
state                     object
monthUser                  int64
yearUser                   int64
dtype: object

In [9]:
df

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state,monthUser,yearUser
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1970-01-01 00:26:49.687530597,consumer,Email,WI,1,2021
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
...,...,...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN,12,2014
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN,12,2014
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN,12,2014
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN,12,2014
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN,12,2014

In [10]:
# Fill NaN value to zero in a complete dataframe using pandas

In [11]:
df.fillna(0)

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state,monthUser,yearUser
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1970-01-01 00:26:49.687530597,consumer,Email,WI,1,2021
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021
...,...,...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,0,0,12,2014
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,0,0,12,2014
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,0,0,12,2014
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,0,0,12,2014
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22,1970-01-01 00:26:54.963143204,fetch-staff,0,0,12,2014

Extracting  month and Year of lastLogindate field

In [12]:
df['monthLastLogin'] = pd.DatetimeIndex(df['lastLoginDate']).month
df['yearLastLogin'] = pd.DatetimeIndex(df['lastLoginDate']).year
df.head()

,User_id,active,CreateDateUser,lastLoginDate,role,signUpSource,state,monthUser,yearUser,monthLastLogin,yearLastLogin
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021,1.0,1970.0
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021,1.0,1970.0
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021,1.0,1970.0
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,1970-01-01 00:26:49.687530597,consumer,Email,WI,1,2021,1.0,1970.0
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,1970-01-01 00:26:49.687537858,consumer,Email,WI,1,2021,1.0,1970.0

In [13]:
# Determine count of unique values for each column in the dataframe
df.nunique()

User_id           212
active              2
CreateDateUser    212
lastLoginDate     172
role                2
signUpSource        2
state               8
monthUser           7
yearUser            5
monthLastLogin      1
yearLastLogin       1
dtype: int64

In [14]:
# Checking if any rows are missing any data.
df.isnull().sum()

User_id            0
active             0
CreateDateUser     0
lastLoginDate     62
role               0
signUpSource      48
state             56
monthUser          0
yearUser           0
monthLastLogin    62
yearLastLogin     62
dtype: int64

In [15]:
# Fill NaN values with a mean value
df['lastLoginDate'] = df['lastLoginDate'].fillna(' ')
df['signUpSource'] = df['signUpSource'].fillna('0, inplace=True')
df['monthLastLogin'] = df['monthLastLogin'].fillna('')
df['state'] = df['state'].fillna(' ')
df['yearLastLogin'] = df['yearLastLogin'].fillna(' ')

In [16]:
# Checking if any rows are missing any data.
df.isnull().sum()

User_id           0
active            0
CreateDateUser    0
lastLoginDate     0
role              0
signUpSource      0
state             0
monthUser         0
yearUser          0
monthLastLogin    0
yearLastLogin     0
dtype: int64